*{
  font-family: 'Montserrat', sans-serif;
}

.nav{
  display: flex;
  justify-content: flex-end;
  padding: 20px 50px 20px 50px;
}
#nav1{
  font-weight: 600;
  text-transform: uppercase;
  margin-left: 20px;
  color: #fff;
  text-decoration: none;
  transition: 0.4s linear;
  font-size: 14px;
}
#nav2, #nav3, #nav4{
  font-weight: 600;
  margin-left: 20px;
  color: #fff;
  text-decoration: none;
  transition: 0.4s linear;
  font-size: 14px;
}
#nav1:hover, #nav2:hover, #nav3:hover, #nav4:hover{
  color: #17202A;
}
.home h1{
  text-align: center;
  margin-top: 160px;
  color: #fff;
}
.zakaz button{
  border: 1px solid #fff;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  background: red;
  color: #fff;
  padding: 12px 40px;
  text-transform: uppercase;
  font-size: 14px;
  transition: 0.4s linear;
  cursor: pointer;
  outline: none;
}
.zakaz button:hover{
  background: #fff;
  color: #000;
}
#header {
  padding: 30px 10px;
  color: black;
  top: 0;
  width: 100%;
  transition: 0.2s;
}
.tech h1{
  text-align: center;
  margin-top: 450px;
}
.tech p{
  text-align: center;
}
hr.line {
  border-top: 3px solid #3498DB;
  width: 775px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.cards{
  margin-top: 30px;
}
.a1{
  background: #3498DB;
  width: 300px;
  height: 300px;
}
.a2{
  background: #fff;
  width: 300px;
  height: 300px;
}
.a3{
  background: #3498DB;
  width: 300px;
  height: 300px;
}
table{
  text-align: center;
}
.fa-html5{
  font-size: 48px;
  color: #fff;
  margin-top: 15px;
}
.fa-css3{
  font-size: 44px;
  color: #fff;
  margin-top: 15px;
}
.fa-code{
  font-size: 44px;
  color: #fff;
  margin-top: 15px;
}
.bs4{
  color: #3498DB;
  font-size: 44px;
  font-weight: 600;
  cursor: context-menu;
}
.footer{
  background: #333;
  left: 0; bottom: 0; /* Левый нижний угол */
  padding: 10px; /* Поля вокруг текста */
  width: 100%; /* Ширина слоя */
}
.contacts{
  color: #fff;
}
.first{
  background: black;
  margin-bottom: 1720px;
}
